ul {
	list-style: none;
}
body {
	background:url(http://img06.deviantart.net/8abf/i/2013/032/b/e/nest_by_ferdinandladera-d5t4u78.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	color: white;
	

}

